.primary-btn {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.25s;
}
.primary-btn:hover {
  background: #125ca7;
}
